
.App{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.InputWrapper{
  margin: 10px;
  display: flex;
  flex-direction: row;
}
.FivePointWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
    border: 2px solid rgb(147, 148, 150);

}
.RowWrapper{
  width: 100%;
}
.EditPage{
  flex: 1;
  overflow: auto;
}
.EditPageWrapper{
  padding: 5%;
}

.Detaljer{
  display: flex;
  flex-direction: column;
  width: inherit;
  
}
.DetaljWrapper{
  width: inherit;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
ul{
  display: flex;
  flex-direction: column;
  padding: 0;
  
}
.EditPageWrapper  p{
  font-weight: bold;
}
.DetaljWrapper div{
  width: 100%;
}
.LeftSide, #tag, #språk, #Navn, #Tlf{
  margin-right: 40px;
}
#Start, #Grad{
  margin-right: 10px;
}

.AddButton{
  font-size: 16dppx;
  color: blue;
  font-weight: bold;

}
.AddButton:hover{ 
  background-color: rgb(242, 245, 250);
}

.Cv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: rgb(122, 133, 153);
}
.CvWrapper{
  display: flex;
  flex-direction: row;
}
.DownloadButton{
  font-size: 10pt;
  display: block;
  position: absolute;
  top: 85%;
  left: 83%;
  height: 1.5cm;
  width: 3cm;
  border-radius: 5%;
  background-color: rgb(0, 89, 255);
  color: white;
  font-size: 12pt;
  border: none;
  box-shadow: 3px 3px #888888
}
.DownloadButton:focus { outline: none; }
.DownloadButton:hover{
  background-color: green;
  box-shadow: none;
}
.SideBarWrapper{
  height:100%;
  width: 33%;
}
.MainContentWrapper{
  width: 77%;
}

.SideBar{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  background-color:rgb(8, 76, 65);
  display: flex;
  flex-direction: column;
  padding-left: 20%;
  padding-top: 25%;
 
}
.FirstRow{
  display: flex
}
.ColorSelector {
  border-radius: 100%;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  margin: 10px;
}
.ColorSelectors{
  display: flex;
}
.SideBar h1{
  color: white;

}

.SideBar p{

  color: white;
  padding: 1%
}
.FileLable{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3px;
  border: 1px solid black;
  cursor: pointer;
}
.SectionSplitter1 {
  margin-bottom: 8%;
  display: flex;
  flex-direction: column;
  padding:0;
}
.SectionSplitter1 > p{
  margin-bottom:3%;
  
}
.SectionSplitter1 > h1{
  margin-bottom:3%;
}
.SectionSplitter{
  margin-bottom: 3%;
}
.SectionSplitter > div{
  margin-bottom: 3%;
}
.MainContent{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: white;
  padding:10%
  
}

.MainContent h1{
  font-weight: bold;
}

h1,h2, p{
  margin: 0;
}
h1{
  font-family: 'Times New Roman', Times, serif;
  text-decoration: underline;
}
p{
  font-family: Arial, Helvetica, sans-serif;
}
.SideBar > p, a {
  color: white;
  
} 
.Picture{
  border-radius: 100%;
  height: 80px;
  width: 80px;
}

.About{
  display: flex;
  flex-direction: column;
}
@media only screen 
  and (max-width : 1000px) 
  and (max-height : 999px)
  and (orientation : portrait)  
  { 
    .App{
      overflow-x: scroll;
      overflow-y: scroll;
      flex-direction: column;
    }
    .FirstRow{
      flex-direction: column;
    }
    .DownloadButton{
      top: 10%;
      left: 70%;
    }
    .Cv{
      width: max-content;
      height: max-content;
    }
    .CvWrapper{
      overflow: visible;
      padding: 0%;
      margin: 0%;
      height: calc(1.41*100vw);
      width: 100vw;
    }
    .EditPage{
      overflow: visible;
    }
  }

  